.board {
  display: grid;
  width: fit-content;
  margin: 0 auto;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid #808080;
}

.cell:hover {
  background-color: #ebe7e7;
}

.cell_pointer {
  cursor: pointer;
}

.cell_filled {
  background-color: #00ffff;
}

.cell_filled:hover {
  background-color: #008b8b;
}
